#carrinho {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.resumo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.resumo h3 {
    margin-bottom: 15px;
}

.resumo button {
    padding: 12px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
