/* Barra de navegação pag generos */
nav ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}
 
nav ul li {
    display: inline-block;
}
 
nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}
 
nav ul li a:hover {
    background-color: #322f2f;
}
 
/* estilo main pag generos*/
 main {
    margin: 0;
}

.frase h1 {
    text-align: left;
    margin-left: 50px;
}

.caixas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    row-gap:100px;
    width: 90%;
    max-width: 1000px;

    margin: 40px auto;
}

.caixa {
    width: 100%;
    height: 200px;

    border: 2px solid #c2baba;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;
}

 
 
